@import url('https://fonts.googleapis.com/css?family=Nunito:300,400,700');

*{
	padding:0px;
	margin:0px;
}
html{
	max-width: 100vw;
	max-height:100vh;
	/* width:100vw;
	height:100vh; */
}
body{
	font-family: 'Nunito', sans-serif;
	background: rgba(33,33,33,1);
	/* height:100vw;
    width:100vh; */
}
.sidebar{
	grid-area: sidebar;
	/* background: linear-gradient(to right,
	rgba(255, 147, 6,0.4),
	rgba(255, 210, 10,0.4),
	rgba(4, 42, 255,0.4)); */
	/* background: rgb(255, 102, 0); */
	background:linear-gradient(to right,
	rgba(0, 195, 255, 0.945),
	/* rgba(255, 102, 0,1), */
	rgb(0, 60, 255)
	);
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding-top:0px;
	padding-bottom:50px;
	/* max-width:100vw;
	width:100vw; */
	/* padding:0px; */
	/* background-image: url(img/coding_bg1.jpg); */
	/* background-position-y: 500px; */
	/* height:200%; */
	/* background-size: 50% 100%; */
}
.content{
	grid-area: content;
	background-image: url(img/sidebar-bg.png); 
	align-self: center;
	max-width:100vw;
	max-height:100vh;
	/* padding-bottom:100px; */
	height:100vh;
	/* padding-top:10px; */
}
.footer{
	grid-area: footer;
	background: linear-gradient(	rgba(0, 195, 255, 0.945),
	/* rgba(255, 102, 0,1), */
	rgb(0, 60, 255));
	/* height:200%; */
	margin-top: 100px;
	align-self: center;
	/* 0px; */
}
.container{
	max-width:100vw;
	font-size: 1.5em;
	width: 100vw;
	/* height: 100vh; */
	padding-left:0px;
	padding-right:0px;
	/* padding-bottom:100px; */
	display: grid;
	grid-template-areas:
		"sidebar"
		"content"
		"footer";
	grid-template-columns:2fr;
	grid-template-rows: 150px 800px 250px;
	

}
.sidebar a:hover{
	color:white;
}
/* .sidebar,
.content,
.footer{
	padding: 0em;
	
} */
nav{
	padding-top:75px;
	padding-bottom:75px;
}
nav ul{
	display: flex;
	justify-content: space-between;
	text-align: center;
}
nav li{
	list-style: none;
	padding: 1em 1em;
	/* background:rgb(26, 1, 255); */
}
/* nav li:active{
	background:white;
} */
nav li a{
	color:black;
	font-weight: 700;
	text-decoration: none;
	transition: 0.3s;
}
nav li a:hover{
	text-decoration: none;
}
.hero{
	max-width: 960px;
	margin: 0 auto;
	text-align: center;
}

.hero img{
	width: 200px;
}
.hero .fas fa-user-circle{
	width:500px;
}

.hero h1{
	font-size: 2em;
	font-weight: 800;
	color:#000000;
	background: rgba(255, 255, 255, 0.466);
}
.hero p{
	font-weight: 380;
	line-height: 1.5em;
	color: #ffffff;
	background: rgba(0, 32, 216, 0.507);
}
.action-btn{
	display: inline-block;
	text-decoration: none;
	color:white;
	font-weight: 700;
	background:linear-gradient(to right,
	rgba(0, 195, 255, 0.945),
	/* rgba(255, 102, 0,1), */
	rgb(0, 60, 255));
	padding: 0.5em 2em;
	border-radius: 48px;
	
	
	border-width: medium;
	border: 5px solid rgb(255, 198, 93);
	
	outline-style: solid round;
  	outline-width: medium;
	margin: 1em 0;
	transition: 0.3s;
}
.action-btn:hover{
	box-shadow: 0 10px 50px rgb(255, 198, 93);
}
footer ul{
	max-width: 100vw;
	margin: 2em 0;
	padding: 0;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	margin-top: 100px;
	padding-right: 100px;
	padding-left: 100px;
}
footer ul li{
	list-style: none;
	align-self: flex-end;
}
footer ul li a{
	text-decoration: none;
	color:#010a18;
	padding-right:100px;
}
svg{
	width: 40%;
}
footer p{
	font-size: 0.8em;
}

@media (min-width: 1240px){
	
	.container{
		grid-template-areas: 
			"sidebar content"
			"sidebar footer";
		/* grid-template-columns: 1fr 4fr ;

		grid-template-rows: 1fr auto ; */

		grid-template-rows:1fr;
		grid-template-columns: 1fr 3fr ;
		max-width:100vw;
		max-height:200vh;
		height:80vh;
		width:100vw;
		margin-bottom:0px;
		padding-bottom:0px;
	}
	a{
		padding-top:10px;
		padding-bottom:0px;
		margin-top:10px;
		margin-bottom:10px;
	}
	.content{
		display: flex;
		flex-direction: column;
		justify-content: left;
		max-height: 100vh;
		height:100vh;
		margin-bottom:-100px;
		/* align-items: center; */
		/* height:110%; */
	}
	nav ul {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
	
	
	}
	.sidebar{
		/* padding-bottom:10em; */
		/* background: rgb(255, 102, 0); */
		/* background:linear-gradient(to right,
		 rgba(255, 102, 0,1),
		 rgba(245, 82, 0,1),
		 rgb(255, 0, 0)); */
		 background:linear-gradient(
			rgba(0, 195, 255, 0.945),
			/* rgba(255, 102, 0,1), */
			rgb(0, 60, 255)
		 );
		 width:30vw;
		/* max-width:15vw; */
	}
	.hero{
		text-align: left;
		margin:2em auto;
	}
	.action-btn{
		background:linear-gradient(
			rgba(0, 195, 255, 0.945),
			/* rgba(255, 102, 0,1), */
			rgb(0, 60, 255)
		);
		
		/* max-height:100vh; */
		/* margin-bottom: -20px; */
	}
	.footer footer ul{
		max-width: 1240px;
		/* margin: 2em 0; */
		
		text-align: center;
		display: flex;
		flex-direction: row;
		/* margin-top: 100px; */
		margin-top:0px;
		margin-bottom:0px;
		padding: 0px;
		padding-top:0px;
		padding-right: 50px;
		padding-left: 50px;
	/* padding-bottom: 60px; */
	/* padding-top:30px; */
	}
	li{
		/* margin-top: 20px;
		margin-bottom:-70px;
		padding-right: 50px;
		padding-left: 50px; */
		padding-top:20px;
	}
}
@media(max-width:800px){
	.sidebar{
		height:20vh;
		margin-bottom:100px;
		padding-bottom:100px;
		background:red;
	}
	.content{
		padding-top:0px;
		padding-bottom:0px;
		margin-top:80px;
		margin-bottom:0px;
		max-height:200vh;
		height:100vh;
	}
	.content p{
		font-size: 80%;
	}
	.footer footer ul{
		padding-top:-50px;
		padding-bottom:0px;
		margin-bottom:20px;
		margin-top:10px;
		padding-right: 50px;
		padding-left: 50px;
		width:100vw;
	/* padding-bottom: 60px; */
	/* padding-top:30px; */
	}
	footer a .action-btn{
		/* padding-top:0px;
		padding-bottom:0px; */
		margin-bottom:0px;
		margin-top:0px;
		/* padding-right: 50px;
		padding-left: 50px; */
		width:1vw;
		max-width:5vw;
		/* height:15vh;
		max-height:15vh; */
	}
	footer  li{
		/* margin:-5px; */
		margin-top:100px;
		margin-bottom:30px;
		/* padding-bottom:20px; */
		width:15vw;
		max-width:20vw;
		/* height:15vh;
		max-height:15vh; */
	}
	footer p{
		/* text-align: center;
		align-items: center;
		display:table-cell; */
		vertical-align: top;
		 height: 10px;
		/* margin-left:auto;
		margin-right:auto; */
		/* display: inline-block; */
		width:15vw;
		max-width:15vw;
		
		font-size:50%;
		/* overflow:auto; */
	}
	.footer{
		margin-top:-20vh;
		margin-bottom:-30vh;
		padding:0vh;
		padding-top:-20vh;
	}
}